<h1>Usuários cadastrados</h1>
<div>
    <a class="btn btn-primary" href="/usuario/cadastrar">Novo usuário</a>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ativo</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < usuarios.length; i++) { %>
                    <tr>
                        <td><%= usuarios[i].usuarioId %></td>
                        <td><%= usuarios[i].usuarioNome %></td>
                        <td><%= usuarios[i].usuarioEmail %></td>
                        <td><%= usuarios[i].usuarioAtivo %></td>
                        <td><%= usuarios[i].perfilId %></td>
                    </tr>
                <% } %>    
            </tbody>
        </table>
    </div>
</div>